.form_container {
  width: 35%;
}

@media screen and (max-width: 1000px) {
  .form_container {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .form_container {
    width: 60%;
  }
}

.player-card {
    border-radius: 0 !important;
}

.player-accordion{
  border-radius: 0 !important;
}

.match-title {
    font-size: 200%;
    border-width: 0;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.scoreline-for {
    padding-top: 6px;
    font-size: 150%;
    border-width: 0;
    text-align: right;
    margin-top: 4px;
    margin-bottom: 4px;
}

.scoreline-against {
  border-width: 0;
}

.scoreline-button {
  border-radius: 0 !important;
}

.stats-section {
  width: 25%;
  float: left;
}

.player-section {
  width: 75%;
  float: left;
}

.item-hover:hover {
  transform: scale(1.01);
  border: 2px solid #007bff;
  transition: transform 0.3s ease;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.landing {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.landing-container{
  width: 100%;
  min-height: 100vh;
  position:absolute;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-name{
  font-size: 60px;
  color: white;
  font-weight: 400;
}

.landing-slogan {
  font-size: 45px;
  color: white;
}

.landing-description {
  font-size: 16px;
  color: white;
  margin-top: 20px;
  max-width: 600px;
  text-align: justify;
}

.styled-card {
  border-radius: 0 !important;
}

.styled-button {
  border-radius: 0 !important;
  color: #007bff;
}

.styled-icon-button {
  border-radius: 0 !important;
  border: none;
  font-size: x-large;
}

.styled-title {
  font-size:xx-large;
  margin-bottom: 5px;
}

.styled-header {
  font-size:large
}